footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: -300px;
    margin-left: 40px; 
    background-color: #111;
    overflow: hidden;
}
footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}
footer ul li {
    display: block;
    list-style: none;
}
footer ul li a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}
.footer-ms {
    width: 50px;
    float: right;
}
.footer-ms img {
    border-radius: 50px;
    width: 50px;
    margin-bottom: 10px;
}
footer ul li p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}
@media only screen and (min-width:321px) and (max-width:768px){
    footer {
        margin-top: -900px;
    }
    .footer-ms {
        width: 100%;
        display: inline-block;
        padding: 0px 60px;
    }

}